################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Homeworks/RabbitMQ/rabbitmq
/.vs
